:root {
    --light-blue: #e0f2fe;
    --dark-blue: #075985;
}

body {
    margin: 0;
}

#content {
    display: grid;
     grid-template-columns: 18vw 82vw;
     grid-template-rows: 25vh 75vh;
     grid-template-areas:
      "sidebar navbar"
      "sidebar main";
}

.navbar {
    grid-area: navbar;
    background-color: var(--dark-blue);
    padding: 0 5%;
    font-size: 2rem;
}

.sidebar {
    grid-area: sidebar;
    background-color: #0369a1;
}

main {
    background-color: var(--light-blue);
    grid-area: main;
}
