:root {
    --light-blue: #67e8f9;
    --dark-blue: #0891b2;
}

body {
    margin: 0;
}

#content {
    display: grid;
     grid-template-columns: 18vw 82vw;
     grid-template-rows: 25vh 75vh;
     grid-template-areas:
      "sidebar navbar"
      "sidebar main";
}

.navbar {
  grid-area: navbar;
  background-color: var(--dark-blue);
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--dark-blue);
}

main {
  background-color: var(--light-blue);
  grid-area: main;
}
